@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<iframe src="https://giphy.com/embed/3ogwFGEHrVxusDbDjO" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
<p></p>
